/backend/db/api_keys.db
/backend/db/encryption_key.key
/backend/config/api_keys/api_credentials.json
/.idea/
/TODO.md
/notebooks/.ipynb_checkpoints/
/.sibyl_venv/
/tests/*
/notebooks/llms/hf_client.ipynb